@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: 10px !important; /* for Firefox */
  font-family: "Lato", sans-serif;
}

img {
  object-fit: cover !important;
}

body {
  overflow-x: hidden;
}

.blog-container {
  width: 95%;
  display: block;
  margin: 0 auto;
}

.back-link {
  color: #777;
  font-size: 18px;
}

.title {
  width: 100%;
}

.details {
  display: block;
  line-height: normal;
}

.text {
  font-weight: 400;
  font-size: 15px;
}

.rounded {
  border-radius: 0.78rem !important;
}

.author-name,
.desc,
.date,
.details-date,
.recent-section,
small {
  line-height: 0px !important;
}

img {
  user-select: none;
}

.recent-section {
  margin-top: 4rem;
}

.fa-angle-left:before {
  content: "\f104";
}

.fa-ellipsis-h:before {
  content: "\f141";
}

.fa-user-ninja:before {
  content: "\f504";
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/fa-solid-900.woff2") format("woff2"),
    url("../webfonts/fa-solid-900.woff") format("woff"),
    url("../webfonts/fa-solid-900.ttf") format("truetype"),
    url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
